%section.header
  .inner
    .upper
      = link_to root_path, class: "logo" do
        = image_tag "/material/logo/logo.png",alt:"logo"
      = form_with url: root_path, scope: :post, local: true, class: "search" do |f|
        .search_field
          = f.text_field :keyword, class: "search_field__input_area", placeholder: "キーワードから探す"      
          %button.search_field__submit
            = f.submit "", class: "search_field__submit--btn", id: "submit-btn" 
            .search_field__submit--icon
              = image_tag "/material/icon/icon-search 1.png"
    .lower
      %ul.left_btns
        %li.left_btns__category
          カテゴリー
        %li.left_btns__brand
          ブランド
      %ul.right_btns
        %li.right_btns__login
          = link_to root_path do
            ログイン
        %li.right_btns__signup
          = link_to root_path do
            新規会員登録