.credit_new
  .credit_new__body.form_area
    .credit_new__body__title
      %h2 クレジットカード情報入力
    .credit_new__body__credit-card
      .form_field.credit_new__body__credit-card__inner
        = form_with url: user_credit_cards_path, method: :post, html: { name: "inputForm"}, class: "credit_card_form" do |f| # createアクションのパスを指定
          = f.hidden_field :item_id, value: @item
          = f.label :card_number, class: "credit_label form_field__label" do
            %span.form_field__label--essential カード番号
          = f.text_field :card_number, type: 'text', class: 'credit_input-number', placeholder: '半角数字のみ', maxlength: "16" 
          .cards-expire
            = f.label :exp_month, class: 'credit_label form_field__label' do
              %span.form_field__label--essential 有効期限
              %br
            .cards-expire__wrap
              = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'credit_input-expire'
              %span.expire-text 月
              %br
            .cards-expire__wrap
              = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'credit_input-expire'
              %span.expire-text 年
          .cvc
            %p.cvc__main
              = f.label :cvc, class: 'credit_label form_field__label' do
                %span.form_field__label--essential cvc 
              = f.text_field :cvc, type: 'text', class: 'credit_input-number cvc_input', placeholder: '半角数字のみ', maxlength: "4", size: "16"
            %p.cvc__sub (カード背面4桁もしくは3桁の番号)
          .content-bottom#card_token
            = f.submit 'カードを登録する', class: 'credit_content-bottom--add-btn form_button', id: 'token_submit'