.form_field
    = f.label :nickname, class: "form_field__label form_field__label--essential"
    %br/
    = f.text_field :nickname, class: "form_field__input", autofocus: true, placeholder: "例)フリマ太郎", autocomplete: "username"

.form_field
    = f.label :email, class: "form_field__label form_field__label--essential"
    %br/
    = f.email_field :email, class: "form_field__input", autocomplete: "email", placeholder: "例)freema@freema.com"

.form_field
    = f.label :password, class: "form_field__label form_field__label--essential"
    %br/
    = f.password_field :password, class: "form_field__input", autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum" if @minimum_password_length

.form_field
    = f.label :password_confirmation, class: "form_field__label form_field__label--essential"
    %br/
    = f.password_field :password_confirmation, class: "form_field__input", placeholder: "確認のためもう一度入力してください", autocomplete: "new-password"

.form_field
    = f.label :family_name, "お名前", class: "form_field__label form_field__label--essential"
    %br/
    = f.text_field :family_name, class: "form_field__input form_field__input--name", placeholder: "例)前田", autocomplete: "family-name"
    = f.text_field :first_name, class: "form_field__input form_field__input--name", placeholder: "例)康太", autocomplete: "given-name"

.form_field
    = f.label :family_name_kana, "お名前（カナ）", class: "form_field__label form_field__label--essential"
    %br/
    = f.text_field :family_name_kana, placeholder: "例)マエダ", class: "form_field__input form_field__input--name"
    = f.text_field :first_name_kana, placeholder: "例)コウタ", class: "form_field__input form_field__input--name"

.form_field
    = f.label :birthday, class: "form_field__label form_field__label--essential"
    %br/        
    = f.select :birthday_year, nil, {}, {class: "form_field__input form_field__input--birthday"} do
        - option_birthday_years do |year|
            %option{value: year, selected: ("selected" if user.birthday_year == year)} #{year}
    = f.label :birthday_year, class: "form_field__label form_field__label--birthday"
    = f.select :birthday_month, nil, {}, {class: "form_field__input form_field__input--birthday"} do
        - 12.times do |month|
            %option{value: month + 1, selected: ("selected" if user.birthday_month == month+1)} #{month + 1}
    = f.label :birthday_month, class: "form_field__label form_field__label--birthday"
    = f.select :birthday_day, [], {}, {class: "form_field__input form_field__input--birthday", data:{birthday:user.birthday_day}}
    = f.label :birthday_day, class: "form_field__label form_field__label--birthday"

.form_field
    = f.label :phone_number, class: "form_field__label"
    %br/
    = f.telephone_field :phone_number, placeholder: "ハイフンなし", class: "form_field__input", autocomplete: "tel-national"

= f.submit "登録する", class: "form_button", data: {disable: {with: "お待ちください"}}
