= render 'share/header'

.order_create_main.main
  .order_finish_info
    .order_finish_info__message
      .order_finish_info__message--main
        購入が完了しました
        %br
        %br
      .order_finish_info__message--sub
        = icon "far", "clock"
        到着までしばらくお待ちください。
    .order_finish_info__item_info
      .order_finish_info__item_info__image_and_name
        .order_finish_info__item_info__image_and_name__item_image
          = image_tag "#{@item.images.first[:photo].url}"
        .order_finish_info__item_info__image_and_name__item_name
          = @item.name
    .order_finish_info__pay_info
      .order_finish_info__pay_info__item_price
        .order_finish_info__pay_info__item_price--head
          商品代金
        .order_finish_info__pay_info__item_price--data
          %p 
            = "税込　¥ " + @item.price.to_s
          %p 
            = "配送料　" + @item.delivary
      .order_finish_info__pay_info__pay_amount
        .order_finish_info__pay_info__pay_amount--head
          お支払い金額
        .order_finish_info__pay_info__pay_amount--data
          = "￥ " + @item.price.to_s
      .order_finish_info__pay_info__payment_method
        .order_finish_info__pay_info__payment_method--head
          お支払い方法
        %p.order_finish_info__pay_info__payment_method--data
          クレジットカード
          %br
          = "**** **** **** " + @default_card_information.last4

      .order_finish_info__pay_info__order_date
        .order_finish_info__pay_info__order_date--head
          購入日時
        .order_finish_info__pay_info__order_date--data
          = @order.created_at.strftime('%y/%m/%d %H:%M')
      
  .back_items_top_link
    = link_to root_path, class: "back_items_top_link--link" do
      トップ画面に戻る

= render 'share/footer'