.sell-page

  .form_header
    .form_header__logo
      = link_to root_path do
        = image_tag "/material/logo/logo.png",alt:"logoimage", class:"logo"


  .main
    .main__showmain
      .main__showmain__main-image
        <b>出品画像</b>
        %span.marker_red 必須
        .main__showmain__main-image__main-text
        最大10枚までアップロードできます
        .main__showmain__main-image__main-form
          .main__showmain__main-image__main-form__upload
            ドラックアンドドロップ
            %br またはクリックしてファイルをアップロード


      .main__showmain__main-item
        .main__showmain__main-item__upper
          .itemname
          <b>商品名</b>
          %span.marker_red 必須
          = form_with model: @order, class: :form, local: true do |form|
            .form_area
              = form.text_field :itemname, class: "form_area__input", placeholder: '40文字まで'

          
        .main__showmain__main-item__bottom
          .item-discription
          <b>商品の説明</b>
          %span.marker_red 必須
          = form_with model: @order, class: :form, local: true do |form|
            = form.text_area :discription, placeholder: '商品の説明（必須 1,000文字以内）&#13;&#10;（色、素材、重さ、定価、注意点など）&#13;&#10;&#13;&#10;例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'.html_safe, class: "form__input"
      .main__showmain__detail
        .main__showmain__detail__detail-top
          商品の詳細


        .main__showmain__detail__category_id
          <b>カテゴリー</b>
          %span.marker_red 必須
          .main__showmain__detail__category_id__selectarea
            = select_tag 'select[area]', options_for_select(["選択してください", "レディース", "メンズ", "ベビー・キッズ", "インテリア・住まい・小物", "本・音楽・ゲーム", "おもちゃ・ホビー・グッズ", "コスメ・香水・美容", "家電・スマホ・カメラ", "スポーツ・レジャー", "ハンドメイド", "チケット", "自動車・オートバイ", "その他"]) 

            
        .main__showmain__detail__bland_id
          <b>ブランド</b>
          %span.marker_gray 任意
          = form_with model: @order, class: :form, local: true do |form|
            .form_area
              = form.text_field :brandname, class: "form_area__input", placeholder: '例）シャネル'

        .main__showmain__detail__condition
          <b>商品の状態</b>
          %span.marker_red 必須
        .main__showmain__detail__selectarea
          = select_tag 'select[area]', options_for_select(["選択してください", "新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"]) 
    
      .main__showmain__delivary
        .main__showmain__delivary__delivary-top
          配送について
        .main__showmain__delivary__delivary_fee
          <b>配送料の負担</b>
          %span.marker_red 必須
        .main__showmain__delivary__selectarea
          = select_tag 'select[area]', options_for_select(["選択してください", "送料込み（出品者負担）", "着払い（購入者負担）"]) 


        .main__showmain__delivary__delivary-area        
          <b>発送元の地域</b>
          %span.marker_red 必須
        .main__showmain__delivary__selectarea
          = select_tag 'select[area]', options_for_select(["選択してください", "北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県", "茨城県", "栃木県", "群馬県", "埼玉県", "千葉県", "東京都", "神奈川県", "新潟県", "富山県", "石川県", "福井県", "山梨県", "長野県", "岐阜県", "静岡県", "愛知県", "三重県", "滋賀県", "京都府", "大阪府", "兵庫県", "奈良県", "和歌山県", "鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県", "福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"]) 
          
               
        .main__showmain__delivary__preparation_day
          <b>発送までの日数</b>
          %span.marker_red 必須
        .main__showmain__delivary__selectarea
          = select_tag 'select[area]', options_for_select(["選択してください", "1~2日で発送", "2~3日で発送", "4~7日で発送"]) 





      .main__showmain__lower    
        .main__showmain__lower__price-top
          価格（¥300〜9,999,999）
          
        .main__showmain__lower__price-main
          .main__showmain__lower__price-main__form
            .main__showmain__lower__price-main__form__price-text
              .text
                <b>販売価格</b>
                %span.marker_red 必須
              .yen
                ¥
            .main__showmain__lower__price-main__form__input-form

        .main__showmain__lower__btn
          .main__showmain__lower__btn__put-btn
            出品する
          .main__showmain__lower__btn__return-btn
            もどる

        .main__showmain__lower__attention
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。


  .form_footer
    .form_footer__link
      %br  プライバシーポリシー
      %br  FURIMA利用規約
      %br  特定商取引に関する表記
    .form_footer__logo
      = image_tag "/material/logo/logo-white.png",alt:"logoimage", class:"logo"
    .form_footer__copy
      &copy;FURIMA
