= render 'share/header'
.main
  .order_main
    %h2.header
      購入内容の確認
    %secton.item_info
      .item_info__inner
        .item_info__inner__item_image
          = image_tag "#{@item.images.first[:photo]}"
        .item_info__inner__item_name_and_price
          .item_info__inner__item_name_and_price--item_name
            = @item.name
          .item_info__inner__item_name_and_price--item_price
            .price_zone
              = "¥#{@item.price}"
            .tax_include_and_postage_info
              .tax_include_and_postage_info__tax_include
                (税込)
          .item_info__inner__item_name_and_price__delivaryfee_info
            .item_info__inner__item_name_and_price__delivaryfee_info--title
              配送料
            .item_info__inner__item_name_and_price--delivaryfee_info--value
              = @item.delivary

    %secton.buy_info
      = form_with(url: "/items/#{@item.id}/orders", class: "payment_zone", local: true)  do |f|
        %h2.payment_zone__payment_amount       
          .payment_zone__payment_amount--head
            支払い金額
          .payment_zone__payment_amount--data
            = "¥#{@item.price}"
        .payment_zone__credit_card_select
          - if @credit_card.nil?
            .payment_zone__credit_card_select__head
              .payment_zone__credit_card_select__head--title
                支払い方法
            .payment_zone__credit_card_select--btn_to_select
              = link_to new_user_credit_card_path(user_id: current_user.id, item_id: @item.id), class: "select_credit_card_link" do
                = icon "fa", "plus-circle"
                クレジットカードを登録
          - else
            .payment_zone__credit_card_select__head
              .payment_zone__credit_card_select__head--title
                支払い方法
            %p.credit_card_info
              %h2.credit_card_info__title
                クレジットカード
              %ul.credit_card_info__main
                %li.credit_card_info__main__detail
                  .credit_card_info__main__detail--title
                    カード番号
                  .credit_card_info__main__detail--value
                    = "**** **** **** " + @default_card_information.last4
                %li.credit_card_info__main__detail
                  .credit_card_info__main__detail--title
                    有効期限
                  .credit_card_info__main__detail--value
                    = @exp_month + " 月 " + @exp_year + " 年 "
            /= link_to user_credit_cards_path(user_id: current_user.id), class:"payment_zone__credit_card_select__change_link" do
            //  変更する

        .payment_zone__shopping_address
          .payment_zone__shopping_address__head
            .payment_zone__shopping_address__head--title
              配送先
            //= link_to user_shopping_addresses_path(user_id: current_user.id), class: "payment_zone__shopping_address__head--change_link" do
            //  変更する
          %p.payment_zone__shopping_address__shopping_address_info
            = "〒" + @shopping_address.post_cord.insert(3, "-")
            %br
            = @shopping_address.prefecture + @shopping_address.cities + @shopping_address.address + @shopping_address.building_name
            %br
            = @shopping_address.family_name + @shopping_address.first_name
        = f.submit "購入する", class: "order_submit_btn"

= render 'share/footer'