/ヘッダー部分/
.header
.main
  .order_main
    %h2.header
      購入内容の確認
    %secton.item_info
      .item_info__inner
        .item_info__inner__item_image
          = image_tag "/material/pict/猫画像１.jpeg"
        .item_info__inner__item_name_and_price
          .item_info__inner__item_name_and_price--item_name
            ここに商品名が入ります
          .item_info__inner__item_name_and_price--item_price
            .price_zone
              ¥#{@price}
            .tax_include_and_postage_info
              .tax_include_and_postage_info__tax_include
                (税込)
              .tax_include_and_postage_info__postage_info
                送料込み

    %secton.buy_info
      = form_with(model: @order, class: "payment_zone", local: true)  do |f|
        %h2.payment_zone__payment_amount       
          .payment_zone__payment_amount--head
            支払い金額
          .payment_zone__payment_amount--data
            ¥1300
        .payment_zone__credit_card_select
          - if @credit_card.nil?
            .payment_zone__credit_card_select__head
              .payment_zone__credit_card_select__head--title
                支払い方法
            .payment_zone__credit_card_select--btn_to_select
              = link_to user_credit_cards_path, class: "select_credit_card_link" do
                = icon "fa", "plus-circle"
                クレジットカードを選択してください。
          - else
            .payment_zone__credit_card_select__head
              .payment_zone__credit_card_select__head--title
                支払い方法
              = link_to user_credit_cards_path, class:"payment_zone__credit_card_select__head--change_link" do
                変更する
            %p.payment_zone__credit_card_select__credit_card_info
              クレジットカード
              %br
              ********0000
              %br
              有効期限22/31
            .payment_zone__credit_card_select__credit_card_logo

        .payment_zone__shopping_address
          .payment_zone__shopping_address__head
            .payment_zone__shopping_address__head--title
              配送先
            = link_to user_shopping_addresses_path, class: "payment_zone__shopping_address__head--change_link" do
              変更する
          %p.payment_zone__shopping_address__shopping_address_info
            〒446-0000
            %br
            愛知県安城市福釜町〇〇
            %br
            姓 名
        = f.submit "購入する", class: "order_submit_btn"

.footer