= link_to item_path(item), class: "product" do
    .product__image_zone
        = image_tag item.images.first.photo.url, alt: "商品画像", class: "product__image_zone--image" 
    .product__body
        .product__body--product_name
            = item.name
        .product__body__detail
            .product__body__detail__main
                .product__body__detail__main--price
                    = "#{item.price}円"
                .product__body__detail__main--favorite
                    ="★#{item.favorites.length}"
            .product__body__detail__sub
                (税込)