<<<<<<< HEAD
%h1 Items#index
%p Find me in app/views/items/index.html.haml
=======
%section.header
  .inner
    .upper
      = link_to root_path, class: "logo" do
        = image_tag "/material/logo/logo.png",alt:"logo"
      .search_field
        %input.search_field__input_area
        .search_field__submit_btn
    .lower
      .left_btns
        .left_btns__category
          カテゴリー
        .left_btns__brand
          ブランド
      .right_btns
        = link_to root_path,class: "right_btns__login" do
          ログイン
        = link_to root_path,class: "right_btns__signup" do
          新規会員登録

%section.main
  %section.title_image
    = image_tag "/material/pict/bg-mainVisual-pict_pc.jpg", alt: "image"
    .title_image__content
      .title_image__content__title
        人生を変えるフリマアプリ
      .title_image__content__sentence
        FURIMAはだれでもかんたんに出品・購入できるフリマアプリです
      .title_image__content__btn
        .title_image__content__btn--app_store
          = image_tag "/material/icon/svg/app-store.svg", alt: "app-store"
        .title_image__content__btn--google_play
          = image_tag "/material/icon/svg/google-play.svg", alt: "google-play"

%section.introduction
  .introduction__title
    FURIMAが選ばれる３つの理由
  .introduction__lists
    .left_item
      .left_item__image
        1
        = image_tag "/material/pict/pict-reason-01.jpg", alt: "image"
      .left_item__text
        .left_item__text--subtitle
          %span 
            ３分
          ですぐに出品
        .left_item__text--sentense
          スマホで入力するだけで簡単に出品できる！
    .middle_item
      .middle_item__image
        2
        = image_tag "/material/pict/pict-reason-02.jpg", alt: "image"
      .middle_item__text
        .middle_item__text--subtitle
          %span
            シンプル
          で使いやすい
        .middle_item__text--sentense
          めんどくさい入力は必要なく、検索も購入もスムーズ！
    .right_item
      .right_item__image
        3
        = image_tag "/material/pict/pict-reason-03.jpg", alt: "image"
      .right_item__text
        .right_item__text--subtitle
          手数料
          %span
            業界最安
        .right_item__text--sentense
          最大3%でお得に出品&購入！
%section.middile_image
  = image_tag "/material/pict/bg-topMiddleDl-pict.jpg", alt: "image"
  .middile_image__content
    %p2.middile_image__content__title
      会員数日本一位
    .middile_image__content__sentence
      FURIMAは、フリマアプリで最も人気
      出品・購入回数も業界最多です！
      欲しかったあの商品に出会えるかもしれません。
    .middile_image__content__btn
      .middile_image__content__btn--app_store
        = image_tag "/material/icon/svg/app-store.svg", alt: "app-store" 
      .middile_image__content__btn--google_play
        = image_tag "/material/icon/svg/google-play.svg", alt: "google-play"
%section.feature
  .feature__title
    FURIMAの特徴
  .feature__lists
    .left_item
      .left_items__image
        = image_tag "/material/icon/icon-01.png", alt: "image"
      .left_items__text
        %p3.left_items__text--subtitle
          簡単に売り買いできる
        .left_items__text--sentence
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .middle_item
      .middle_items__image
        = image_tag "/material/icon/icon-02.png", alt: "image"
      .middle_items__text
        %p3.middle_items__text--subtitle
          売上金は即日振込みに対応
        .middle_items__text--sentence
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
    .right_item
      .right_items__image
        = image_tag "/material/icon/icon-03.png", alt: "image"
      .right_items__text
        %p3.right_items__text--subtitle
          様々な支払いに対応
        .right_items__text--sentence
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
%section.pickup_products
  .pickup_products__category
    %h2.title
      ピックアップ全ての商品
    .products
      = link_to root_path, class: "products__header" do
        新規投稿商品      
      .products__list
        .product
          .product--image
            = image_tag "/material/pict/猫画像１.jpeg", alt: "商品画像"
          .product__body
            .name
              product3
            .detail
              .detail__main
                .detail__main--price
                  30000円
                .detail__main--favorite
                  ★0
              .detail__sub
                (税込)
        .product
          .product--image
            = image_tag "/material/pict/猫画像１.jpeg", alt: "商品画像"
          .product__body
            .name
              product2
            .detail
              .detail__main
                .detail__main--price
                  20000円
                .detail__main--favorite
                  ★0
              .detail__sub
                (税込)
        .product
          .product--image
            = image_tag "/material/pict/猫画像１.jpeg", alt: "商品画像"
          .product__body
            .name
              product1
            .detail
              .detail__main
                .detail__main--price
                  10000円
                .detail__main--favorite
                  ★0
              .detail__sub
                (税込)
  .pickup_products__brand
    %h2.title
      ピックアップ新商品
    .products
      = link_to root_path, class: "products__header" do
        アーカイバ
      .products__list
        .product
          .product--image
            = image_tag "/material/pict/猫画像１.jpeg", alt: "商品画像"
          .product__body
            .name
              product3
            .detail
              .detail__main
                .detail__main--price
                  30000円
                .detail__main--favorite
                  ★0
              .detail__sub
                (税込)
        .product
          .product--image
            = image_tag "/material/pict/猫画像１.jpeg", alt: "商品画像"
          .product__body
            .name
              product2
            .detail
              .detail__main
                .detail__main--price
                  20000円
                .detail__main--favorite
                  ★0
              .detail__sub
                (税込)
        .product
          .product--image
            = image_tag "/material/pict/猫画像１.jpeg", alt: "商品画像"
          .product__body
            .name
              product1
            .detail
              .detail__main
                .detail__main--price
                  10000円
                .detail__main--favorite
                  ★0
              .detail__sub
                (税込)
%section.bottom_image
  = image_tag "/material/pict/bg-appBanner-pict.jpg"
  .bottom_image__content
    .bottom_image__content__title
      だれでも簡単、人生を変えるフリマアプリ
    .bottom_image__content__sentence
      今すぐ無料ダウンロード！
    .bottom_image__btn
      = link_to root_path, class: "bottom_image__btn--app-store" do
        = image_tag "/material/icon/svg/app-store.svg", alt: "app-store" 
      = link_to root_path, class: "bottom_image__btn--google-play" do
        = image_tag "/material/icon/svg/google-play.svg", alt: "google-play"
%section.footer
  .footer__main
    .left_items
      .left_items__title
        FURIMAについて
      %ul.left_items__content
        %li
          %a{ href: root_path}
            会社概要（運営会社）
        %li
          %a{ href: root_path}
            プライバシーポリシー
        %li
          %a{ href: root_path}
            FURIMA利用規約
        %li
          %a{ href: root_path}
            ポイントに関する特約
    .middle_items
      .middle_items__title
        FURIMAを見る
      %ul.left_items__content
        %li
          %a{ href: root_path}
            カテゴリー一覧
        %li
          %a{ href: root_path}
            ブランド一覧
    .right_items
      .right_items__title
        ヘルプ&ガイド
      %ul.right_items__content
        %li
          %a{ href: root_path}
            FURIMAガイド
        %li
          %a{ href: root_path}
            FURIMAロゴ利用ガイドライン
        %li
          %a{ href: root_path}
            お知らせ
  .footer__logo
    = link_to root_path, class: "footer__logo--image" do
      = image_tag "/material/logo/logo-white.png", alt: "logo"
    .footer__logo--text
      ©︎FURIMA
>>>>>>> top画面　haml記入完
