.sell-page
  = render "share/form_header"

  .main
    = render "devise/shared/error_messages", resource: @item
    = form_with model: @item, class: :itemform, local: true do |form|
      - @item.images.each do |image|
        = render partial: "images/image_preview", locals: {form: form, image: image}
      = render partial: "images/image_form", locals: {form: form, image: @item.images.first}
      .main__showmain__main-item
        .main__showmain__main-item__upper
          .form_field
            = form.label :name, "商品名", class: "form_field__label form_field__label--essential" 
          .main__showmain__main-item__upper__input-form
            .form_area
              = form.text_field :name, class: "form_area__input", placeholder: '40文字まで'          
        .main__showmain__main-item__bottom
          .form_field
            = form.label :discription, "商品の説明", class: "form_field__label form_field__label--essential"
          = form.text_area :discription, placeholder: '商品の説明（必須 1,000文字以内）&#13;&#10;（色、素材、重さ、定価、注意点など）&#13;&#10;&#13;&#10;例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'.html_safe, class: "itemform__input"
      .main__showmain__detail
        .main__showmain__detail__detail-top
          商品の詳細
        = render partial: "categories/category_form", locals: {form: form}
        = render partial: "brands/brand_form", locals: {form: form}
        .main__showmain__detail__condition
          .form_field
            = form.label :condition, "商品の状態", class: "form_field__label form_field__label--essential"
        .main__showmain__detail__conditionarea
          = form.select :condition, nil, {}, { id: "condition_area"} do
            - Item::CONDITION.each do |key, value|
              %option{value: key.to_i, selected: ("selected" if @item.condition == key.to_i)} #{value}
      .main__showmain__delivery
        .main__showmain__delivery__delivery-top
          配送について
        .main__showmain__delivery__delivery_fee
          .form_field
            = form.label :delivaryfee, "配送料の負担", class: "form_field__label form_field__label--essential"
        .main__showmain__delivery__feearea
          = form.select :delivary, nil, {}, { id: "fee_area"} do
            - Item::DELIVARY.each do |key, value|
              %option{value: key.to_i, selected: ("selected" if @item.delivary == key.to_i)} #{value}
        .main__showmain__delivery__delivery-area
          .form_field
            = form.label :area, "発送元の地域", class: "form_field__label form_field__label--essential"
        .main__showmain__delivery__prefecturesarea
          = form.select :area, nil, {}, {id: "prefectures_area"} do
            - Prefectures.each_prefectures_with_index do |prefecture, i|
              %option{value: i, selected: ("selected" if @item.area == prefecture)} #{prefecture}
        .main__showmain__delivery__delivery-area
          .form_field
            = form.label :prefecturesarea, "発送までの日数", class: "form_field__label form_field__label--essential"
        .main__showmain__delivery__prefecturesarea
          = form.number_field :preparation_day, id: "prefectures_area"
          -# 上のフォームがprefectures_areaになっているので修正をお願いします。
          -# numberフィールドに変更し、"約"と"日"を前と後ろにつけてください。
      .main__showmain__lower    
        .main__showmain__lower__price-top
          価格（¥300〜9,999,999)
        .main__showmain__lower__price-main
          .main__showmain__lower__price-main__form
            .main__showmain__lower__price-main__form__price-text
              .text
                .form_field
                  = form.label :price, "販売価格", class: "form_field__label form_field__label--essential"
              .yen
                ¥
            .main__showmain__lower__price-main__form__input-form
              .form_area
                = form.number_field :price, class: "form_area__input", placeholder: '0'
        .main__showmain__lower__btn
          = form.submit "出品する", class: 'main__showmain__lower__btn__put-btn'
          = link_to "もどる", :back, class: 'main__showmain__lower__btn__return-btn'
        .main__showmain__lower__attention
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  = render "share/form_footer"