-# = render "share/_header"
%nav.bread_crumb_navigation
.main
  .main__body
    .main__body__content
      .product_zone
        .product_zone__item
          .product_zone__item--head
          .product_zone__item__image_zone
          .product_zone__item--price
          .product_zone__item__detail
            .product_zone__item__detail--name
            .product_zone__item__deatail--discription
            %table.tabel
              %tbody.table__body
                %tr.table__body__seller.tabel_row
                  %th.table__body__seller--head.tabel_row--head
                  %td.table__body__seller--data.table_row--data
              %tbody.table__body
                %tr.table__body__category.tabel_row
                  %th.table__body__category--head.tabel_row--head
                  %td.table__body__category--data.table_row--data
              %tbody.table__body
                %tr.table__body__brand.tabel_row
                  %th.table__body__brand--head.tabel_row--head
                  %td.table__body__brand--data.table_row--data
              %tbody.table__body
                %tr.table__body__size.tabel_row
                  %th.table__body__size--head.tabel_row--head
                  %td.table__body__size--data.table_row--data
              %tbody.table__body
                %tr.table__body__condition.tabel_row
                  %th.table__body__condition--head.tabel_row--head
                  %td.table__body__condition--data.table_row--data
              %tbody.table__body
                %tr.table__body__delivary_fee.tabel_row
                  %th.table__body__delivary_fee--head.tabel_row--head
                  %td.table__body__delivary_fee--data.table_row--data
              %tbody.table__body
                %tr.table__body__area.tabel_row
                  %th.table__body__area--head.tabel_row--head
                  %td.table__body__area--data.table_row--data
              %tbody.table__body
                %tr.table__body__preparation_day.tabel_row
                  %th.table__body__preparation_day--head.tabel_row--head
                  %td.table__body__preparation_day--data.table_row--data
            %ul.btns
              %li.btns__favorite
                = link_to root_path, class: "btn__favorite__link" do
                  = fa_icon "star", class: "btn__favorite__link--icon"
                  お気に入り
                  .btn__favorite__link--count_num
                  0
              %li.btn__fraud_report
                = link_to root_path, class: "btn__fraud_report__link" do 
                  不適切な商品の報告
        .product_zone__comment
          = form_with url: root_path, scope: :post, local: true, class: "comment_form" do |f|
            = f.text_area :message, class: "comment_form__input_area"
            %p.comment_form__notice_area
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .item_link_prev_next
      .same_brand_link
-# = render "share/_app_banner"
-# = render "share/_footer"
