= render "share/header"

%nav.bread_crumb_navigation_bar
  %ul.bread_crumb_navigation_bar__link_list
    %li.bread_crumb_navigation_bar__link_list__first.bread_crumb_content
      = link_to root_path, class: "bread_crumb_content__link_text" do
        FURIMA
    %li.bread_crumb_navigation_bar__link_list__second.bread_crumb_content
      = icon "fa", "angle-right", class: "bread_crumb_content__icon"
      .bread_crumb_content__link_text
        ベビー・キッズ
    %li.bread_crumb_navigation_bar__link_list__third.bread_crumb_content
      = icon "fa", "angle-right", class: "bread_crumb_content__icon"
      = link_to root_path, class: "bread_crumb_content__link_text" do
        ベビー服（男女兼用）~95cm
    %li.bread_crumb_navigation_bar__link_list__fourth.bread_crumb_content
      = icon "fa", "angle-right", class: "bread_crumb_content__icon"
      = link_to root_path, class: "bread_crumb_content__link_text" do
        アウター
    %li.bread_crumb_navigation_bar__link_list__fifth.bread_crumb_content
      = icon "fa", "angle-right", class: "bread_crumb_content__icon"
      %p.bread_crumb_content__link_text
        product3
.main
  .main__body
    .main__body__content
      .product_zone
        .product_zone__item
          .product_zone__item--head
            = @item.name
          .product_zone__item__image_zone
            .dynamic_image_zone
              = image_tag @images.first.photo.url, class: "dynamic_image_zone--selected_image"
            %ul.static_images
              - @images.each do |image|
                %li.static_images__an_item_image_zone
                  = image_tag image.photo.url, class: "static_images__an_item_image_zone--image"
          .product_zone__item__price_zone
            .main_price_zone
              .main_price_zone--yen_mark
                ¥
              .main_price_zone--price_numerical
                =@item.price
            .sub_price_zone
              .sub_price_zone__tax_included
                (税込)
              .sub_price_zone__delivary_fee_expression
                送料込み
          - if @item.user == current_user
            = link_to edit_item_path(@item), class: "product_zone__item__order_btn" do
              商品の編集
            = link_to item_path(@item), method: :delete, class: "product_zone__item__order_btn product_zone__item__order_btn--delete" do
              商品の削除
          - else
            = link_to new_order_path, class: "product_zone__item__order_btn" do
              購入画面に進む
          .product_zone__item__detail
            .product_zone__item__detail--discription
              =@item.discription
            %table.table
              %tbody.table__body
                %tr.table__body__seller.tabel_row
                  %th.table__body__seller--head.tabel_row--head
                    出品者
                  %td.table__body__seller--data.table_row--data
                    =@item.user.nickname
              %tbody.table__body
                %tr.table__body__category.tabel_row
                  %th.table__body__category--head.tabel_row--head
                    カテゴリー
                  %td.table__body__category--data.table_row--data
                    = link_to root_path do
                      ベビー・キッズ
                    %br
                    = link_to root_path do
                      ベビー服（男女兼用）~95cm
                    %br
                    = link_to root_path do
                      アウター
              %tbody.table__body
                %tr.table__body__brand.tabel_row
                  %th.table__body__brand--head.tabel_row--head
                    ブランド
                  %td.table__body__brand--data.table_row--data
                    =@item.brand
              %tbody.table__body
                %tr.table__body__size.tabel_row
                  %th.table__body__size--head.tabel_row--head
                    商品のサイズ
                  %td.table__body__size--data.table_row--data
                    =@item.size
              %tbody.table__body
                %tr.table__body__condition.tabel_row
                  %th.table__body__condition--head.tabel_row--head
                    商品の状態
                  %td.table__body__condition--data.table_row--data
                    =@item.condition
              %tbody.table__body
                %tr.table__body__delivary_fee.tabel_row
                  %th.table__body__delivary_fee--head.tabel_row--head
                    配送料の負担
                  %td.table__body__delivary_fee--data.table_row--data
                    =@item.delivary
              %tbody.table__body
                %tr.table__body__area.tabel_row
                  %th.table__body__area--head.tabel_row--head
                    発送元の地域
                  %td.table__body__area--data.table_row--data
                    = link_to root_path do
                      青森県
              %tbody.table__body
                %tr.table__body__preparation_day.tabel_row
                  %th.table__body__preparation_day--head.tabel_row--head
                    発送日の目安
                  %td.table__body__preparation_day--data.table_row--data
                    ="約#{@item.preparation_day}日で発送"
            %ul.btns
              %li.btns__favorite#favorite_button_for_js
                = render partial: "favorite_button", locals: {item: @item}
              %li.btns__fraud_report
                = link_to root_path, class: "btns__fraud_report__link" do 
                  = icon "fa", "flag", class: "btns__fraud_report__link--icon"
                  不適切な商品の報告
        .product_zone__comment
          = render partial: "comment", locals: {comment: Comment.find(1)}
          = form_with url: item_comments_path(@item), scope: :post, local: true, class: "comment_form" do |f|
            = f.text_area :message, class: "comment_form__input_area"
            %p.comment_form__notice_area
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
            = f.submit id: "post_submit_btn", class: "comment_form__submit_form"
            = f.label :submit_btn, class: "comment_form__submit_label" do
              = icon "fa","comment", class: "submit_icon"
              コメントする
      %ul.item_link_prev_next
        %li.item_link_prev_next__btn
          = link_to root_path, class: "item_link_prev_next__btn__link" do
            = icon "fa", "angle-left", class: "item_link_prev_next__btn__link--icon"
            前の商品
        %li.item_link_prev_next__btn
          = link_to root_path, class: "item_link_prev_next__btn__link" do
            後ろの商品
            = icon "fa", "angle-right", class: "item_link_prev_next__btn__link--icon"
      .related_items
        = link_to root_path, class: "related_items__show_more_link" do
          ベビー・キッズをもっと見る
        .related_items__products_list

= render "share/app_banner"
= render "share/footer"
-# = render "share/exhibit_btn"