.main__showmain__detail__category_id
  .form_field
    = form.label :category_id, "カテゴリー", class: "form_field__label form_field__label--essential"
.main__showmain__detail__categoryarea
  .main_showmain__detail__categoryarea__parent
    - if @item.category.present?
      = select_tag 'category_id', options_for_select([[@item.category.root.name, @item.category.root.id]]), id: "category_parent_area", class: "category_area_select_form"
    -else
      = select_tag 'category_id', options_for_select([['---選択してください---', '']]), id: "category_parent_area", class: "category_area_select_form"
  .main__showmain__detail__categoryarea__child
    - if @item.category.present?
      = select_tag 'category_id', options_for_select([[@item.category.parent.name, @item.category.parent.id]]), id: "category_child_area", class: "category_area_select_form"
    -else
      = select_tag 'category_id', options_for_select([['---選択してください---', '']]), id: "category_child_area", class: "category_area_select_form display_none"
  .main__showmain__detail__categoryarea__grandchild
    = form.select :category_id, nil, {}, {id: "category_grandchild_area", class: "category_area_select_form #{('display_none' unless form.object.category_id)}"} do
      - if @item.category.present?
        - @item.category.siblings.each do |category|
          %option{value: category.id, selected: ("selected" if category.id == @item.category.id)} #{category.name}
      - else
        %option{value: ""} ---選択してください--- 
.main__showmain__detail__size
  .form_field
    = form.label :size, "SIZE", class: "form_field__label form_field__label--essential #{'display_none' unless @item.category.present?}", id: "size_form_label"
.main__showmain__detail__sizearea
  = form.select :size, nil, {}, {id: "form_size_area", class: "size_area_select_form #{('display_none' unless form.object.size)}"} do
    - @size.each do |size|
      %option{value: size[1], selected: ("selected" if size[0] == @item.size)} #{size[0]}
