= render 'share/header'
.category_show_body
  .category_show_body__childcategory_index
    %h2.category_show_body__childcategory_index__title
      = @select_category.name + "の商品一覧"
    .category_show_body__childcategory_index__main
      %ul.category_show_body__childcategory_index__main__lists
        - @select_category.children.each do |children|
          %li.category_show_body__childcategory_index__main__lists__list
            = link_to category_path(children.id), class: "category_show_body__childcategory_index__main__lists__list--link" do
              = children.name
  .category_show_body__main
    %ul.category_show_body__main__items
      - @items.each_with_index do |item, i|
        %li.category_show_body__main__items__list
          = link_to item_path(item.id), class: "an_item" do
            .an_item__image_zone
              = image_tag item.images.first.photo, alt: "商品画像", class: "an_item__image_zone--image" 
            .an_item__body
              .an_item__body--item_name
                = item.name
              .an_item__body__detail
                .an_item__body__detail__main
                  .an_item__body__detail__main--price
                    = item.price
                  .an_item__body__detail__main--favorite
                    ★
                    = item.favorites.length
                .an_item__body__detail__sub
                  (税込)
    .category_show_body__main__pagination
      = paginate @items
= render 'share/app_banner'
= render 'share/footer'
= render 'share/exhibit_btn'