.user_content_area
    .mypage_profile_area
        .mypage_user_profile
            = link_to user_profile_photo_path(@user) do
                = image_tag user.photo_filepath.url, {class: "mypage_user_profile__image", alt: "あなたのプロフィール画像です"}
            %p.mypage_user_profile__name #{user.nickname}
            -# %span.mypage_user_profile__review 評価　#{user.evaluation}
            %span.mypage_user_profile__small_content 評価　2
            -# %span.mypage_user_profile__item_count 出品数　#{user.items}
            %span.mypage_user_profile__small_content 出品数　2

    .users_item_area
        %ul.mypage_tabs#mypage_tabs_for_js
            %li.mypage_tabs__tab.mypage_tabs__tab--exhibition
                %h3.mypage_tabs__tab__title
                    %button.mypage_tabs__tab__button{type: "button"}
                        出品した商品
            %li.mypage_tabs__tab.mypage_tabs__tab--purchase
                %h3.mypage_tabs__tab__title
                    %button.mypage_tabs__tab__button.mypage_tabs__tab__button--inactive{type: "button"}
                        購入した商品

    -#　サーバーサイド作成時　以下から次のコメントアウトまでは仮の為削除すること
    .mypage_users_items
        = link_to "#", class: "mypage_link mypage_item" do
            = image_tag "/material/icon/member_photo_noimage_thumb.png", {class: "mypage_item__photo", alt: "出品した商品のイメージ画像です"}
            .mypage_item__info
                %span.mypage_item__name 出品
                = icon "far", "heart", class: "mypage_item__button mypage_item__button--favorite"
                %span.mypage_item__buttons_count 3
                = icon "far", "comment", class: "mypage_item__button mypage_item__button--comment"
                %span.mypage_item__buttons_count 2
            = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--item mypage_icon--right_arrow"

    .mypage_users_items.mypage_users_items--inactive
        = link_to "#", class: "mypage_link mypage_item" do
            = image_tag "/material/icon/member_photo_noimage_thumb.png", {class: "mypage_item__photo", alt: "出品した商品のイメージ画像です"}
            .mypage_item__info
                %span.mypage_item__name 購入1
                = icon "far", "heart", class: "mypage_item__button mypage_item__button--favorite"
                %span.mypage_item__buttons_count 3
                = icon "far", "comment", class: "mypage_item__button mypage_item__button--comment"
                %span.mypage_item__buttons_count 2
            = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--item mypage_icon--right_arrow"
        = link_to "#", class: "mypage_link mypage_item" do
            = image_tag "/material/icon/member_photo_noimage_thumb.png", {class: "mypage_item__photo", alt: "出品した商品のイメージ画像です"}
            .mypage_item__info
                %span.mypage_item__name 購入2
                = icon "far", "heart", class: "mypage_item__button mypage_item__button--favorite"
                %span.mypage_item__buttons_count 4
                = icon "far", "comment", class: "mypage_item__button mypage_item__button--comment"
                %span.mypage_item__buttons_count 10
            = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--item mypage_icon--right_arrow"

-# 以下から実際の運用を想定したソースコード
-# 内容はテストしていないのでコメントアウトを外して、適時修正すること
    -# .mypage_users_items
        - user.items.first(5) do |item|
            = link_to user_item_path(user, item.id), class: "mypage_link mypage_item" do
                = image_tag item.images.first, {class: "mypage_item__photo", alt: "出品した商品のイメージ画像です"}
                .mypage_item__info
                    %span.mypage_item__name #{item.name}
                    - if user.has_favorite(item)
                        = icon "fa", "heart", class: "mypage_item__button mypage_item__button--favorite mypage_item__button--favorite--favorited"
                    - else
                        = icon "far", "heart", class: "mypage_item__button mypage_item__button--favorite"
                    %span.mypage_item__buttons_count #{item.favorites.length}
                    - if user.has_favorite(item)
                        = icon "fa", "comment", class: "mypage_item__button mypage_item__button--comment mypage_item__button--comment--commented"
                    -else
                        = icon "far", "comment", class: "mypage_item__button mypage_item__button--comment"
                    %span.mypage_item__buttons_count #{item.comments.length}
                = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--item mypage_icon--right_arrow"

    -# .mypage_users_items.mypage_users_items--inactive        
        - user.order_items.first(5) do |item|
            = link_to user_item_path(user, item.id), class: "mypage_link mypage_item" do
                = image_tag item.images.first, {class: "mypage_item__photo", alt: "購入した商品のイメージ画像です"}
                .mypage_item__info
                    %span.mypage_item__name #{item.name}
                    - if user.has_favorite(item)
                        = icon "fa", "heart", class: "mypage_item__button mypage_item__button--favorite mypage_item__button--favorite--favorited"
                    - else
                        = icon "far", "heart", class: "mypage_item__button mypage_item__button--favorite"
                    %span.mypage_item__buttons_count #{item.favorites.length}
                    - if user.has_favorite(item)
                        = icon "fa", "comment", class: "mypage_item__button mypage_item__button--comment mypage_item__button--comment--commented"
                    -else
                        = icon "far", "comment", class: "mypage_item__button mypage_item__button--comment"
                    %span.mypage_item__buttons_count #{item.comments.length}
                = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--item mypage_icon--right_arrow"