%nav.mypage_navigation
    %ul.mypage_navigation__lists.mypage_navigation__lists--action
        %li.mypage_navigation__list{class: ("mypage_navigation__list--current" if request.path_info == user_path(@user))}
            =link_to user_path(@user), class: "mypage_link mypage_navigation__list__link" do
                プロフィール
                = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"
        %li.mypage_navigation__list{class: ("mypage_navigation__list--current" if request.path_info == user_favorites_path(@user))}
            =link_to user_favorites_path(@user), class: "mypage_link mypage_navigation__list__link" do
                いいね！一覧
                = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"
        %li.mypage_navigation__list{class: ("mypage_navigation__list--current" if request.path_info == user_items_path(@user, on_sale: true))}
            =link_to user_sale_items_path(@user), class: "mypage_link mypage_navigation__list__link" do
                出品中の商品
                = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"
        %li.mypage_navigation__list{class: ("mypage_navigation__list--current" if request.path_info == user_items_path(@user, on_sale: false))}
            =link_to user_exhibit_items_path(@user), class: "mypage_link mypage_navigation__list__link" do
                出品した商品
                = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"
        %li.mypage_navigation__list{class: ("mypage_navigation__list--current" if request.path_info == user_orders_path(@user))}
            =link_to user_orders_path(@user), class: "mypage_link mypage_navigation__list__link" do
                購入した商品
                = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"

    - if @user == current_user
        %ul.mypage_navigation__lists.mypage_navigation__lists--option
            %li.mypage_navigation__list
                =link_to edit_user_path(@user), class: "mypage_link mypage_navigation__list__link" do
                    プロフィール編集
                    = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"
            %li.mypage_navigation__list{class: ("mypage_navigation__list--current" if request.path_info == new_user_item_path(@user))}
                =link_to new_user_item_path(@user), class: "mypage_link mypage_navigation__list__link" do
                    出品する
                    = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"
            %li.mypage_navigation__list
                =link_to new_user_credit_card_path(user_id: current_user.id), class: "mypage_link mypage_navigation__list__link" do
                    クレジットカード
                    = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"
            %li.mypage_navigation__list
                =link_to edit_user_shopping_address_path(@user, @user.shopping_addresses.first), class: "mypage_link mypage_navigation__list__link" do
                    発送先住所
                    = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"
            %li.mypage_navigation__list
                =link_to destroy_user_session_path, method: :delete, class: "mypage_link mypage_navigation__list__link" do
                    ログアウト
                    = icon "fa", "chevron-right", class: "mypage_icon mypage_icon--right_arrow"