.main__showmain__main-image
    .form_field
        = form.label :image, "出品画像", class: "form_field__label form_field__label--essential"
    .main__showmain__main-image__main-text
    最大10枚までアップロードできます
    .main__showmain__main-image__main-form
        #image-box
            = form.fields_for :images do |image_form|
                .js-file_group{"data-index": "#{image_form.index}"}
                    = image_form.file_field :src, class: 'js-file'
                = image_form.label :photo, class: "main__showmain__main-image__main-form__upload" do
                    クリックしてファイルをアップロード
                = image_form.file_field :photo, class: "display_none"
                .span.js-remove 削除
        
        -# = form.fields_for :images do |image_form|
        -#     = image_form.label :photo, class: "main__showmain__main-image__main-form__upload" do
        -#         クリックしてファイルをアップロード
        -#     = image_form.file_field :photo, class: "display_none"